<h1>Babydrop</h1>

<p>
  Schedule drop off and pick up of your child with family and the facility. </br>
  Receive notifications once your child has been dropped off. </br>
  Receive Warnings when they haven't.
</p>


<% if !user_signed_in? %>

  <h2><%= link_to "Sign Up", new_user_registration_path %></h2>

<% end %>
